<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <h1>This is the cars page. We are using ejs.</h1>
    <img width="500px" src="images/cars1_campbell-boulanger-348386-unsplash.jpg" alt="">
    <img width="500px" src="images/cars1_dhiva-krishna-491394-unsplash.jpg" alt="">
    <img width="500px" src="images/cars1_vlad-sorodoc-49620-unsplash.jpg" alt="">
</body>

</html>