<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <h1>We are using ejs.</h1>
    <img width="500px" src="images/erik-jan-leusink-561776-unsplash.jpg" alt="">
    <img width="500px" src="images/jari-hytonen-538885-unsplash.jpg" alt="">
    <img width="500px" src="images/raul-varzar-750436-unsplash.jpg" alt="">
</body>

</html>