<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>

<body>
  <h1>New Page!</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/" method='post'>
    Name: <input type="text" name="name">
    <br>
    Weight: <input type="text" name="weight">
    <br>
    Color: <input type="text" name="color">
    <br>
    <input type="submit" value="Add new Chicken!">
  </form>
</body>

</html>
