<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>

<body>
  <h1>Show!</h1>
  <h3>Name: <%= chicken.name %></h3>
  <h3>Weight: <%= chicken.weight %></h3>
  <h4>Color: <%= chicken.color %></h4>
  <a href="/">Home</a>
  <a href="/<%= chicken._id %>/edit">Edit</a>
</body>

</html>
