<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <h1>EJS Cats</h1>
    <a href="/cuddles"><img width="500px" src="images/erik-jan-leusink-561776-unsplash.jpg" alt="cuddles"></a>
    <br>
    <a href="/luna"><img width="500px" src="images/jari-hytonen-538885-unsplash.jpg" alt="luna"></a>
    <br>
    <a href="/garfield"><img width="500px" src="images/raul-varzar-750436-unsplash.jpg" alt="garfield"></a>
</body>

</html>