<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuddles</title>
</head>
<body>
    <h1>Details Page for Cuddles</h1>
    <img width="500px" src="images/erik-jan-leusink-561776-unsplash.jpg" alt="cuddles"></a>
    <% for (const data in cuddles) { %>
    <div>Favorite Food: <%= cuddles[data].favorite_food %></div>
    <div>Age: <%= cuddles[data].age %></div>
    <div>Sleeping Spots:<%= cuddles[data].sleeping_spots %></div>
    <% } %>
</body>
</html>